<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="defaultExecutorType" value="REUSE" />
        <setting name="defaultStatementTimeout" value="20000" />
        <setting name="mapUnderscoreToCamelCase" value="true" />
        
    </settings>
    
    <typeAliases>
		<typeAlias alias="popupVo" type="kr.playground.jobs.vo.PopupVo" />
		<typeAlias alias="codeVo" type="kr.playground.jobs.vo.CodeVo" />
		<typeAlias alias="menuVo" type="kr.playground.jobs.vo.MenuVo" />
		<typeAlias alias="adminMemberVo" type="kr.playground.jobs.vo.AdminMemberVo" />
	</typeAliases>
    
</configuration>