<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.playground.jobs.dao.CodeDao">

	<select id="list" parameterType="codeVo" resultType="codeVo">
		/** kr.playground.jobs.dao.CodeDao.list **/
		SELECT  code_grp,
				code,
				code_nm,
				tmp1,
				tmp2,
				tmp3,
				tmp4,
				tmp5,
				use_yn,
				del_yn,
				reg_id,
				reg_date,
				upt_id,
				upt_date
	  	  FROM 	T_CODE
		<where>
			<if test="codeGrp != null and codeGrp != ''">AND code_grp = #{codeGrp}</if>
			<if test="code != null and code != ''">AND code = #{code}</if>
		</where>

		LIMIT ${startNum}, ${pageSize}

	</select>

	<select id="view" parameterType="codeVo" resultType="codeVo">
		/**	kr.playground.jobs.dao.PopupDao.view **/
			SELECT  code_grp,
					code,
					code_nm,
					tmp1,
					tmp2,
					tmp3,
					tmp4,
					tmp5,
					use_yn,
					del_yn,
					reg_id,
					reg_date,
					upt_id,
					upt_date
	  	  	FROM 	T_CODE
	  	  WHERE code_grp = #{codeGrp}
			AND code = #{code}
	</select>

	<select id="count" parameterType="popupVo" resultType="Integer">
		/** kr.playground.jobs.dao.PopupDao.count **/
		SELECT COUNT(1) CNT
		FROM T_CODE
		<where>
			<if test="codeGrp != null and codeGrp != ''">AND code_grp = #{codeGrp}</if>
			<if test="code != null and code != ''">AND code = #{code}</if>
		</where>
	</select>


</mapper>
